{% for good in goods %}
    <div class="col-md-4">
        <img src="{{ good.image.url }}" height="300" width="250">
        <h2>{{ good.name }}</h2>
        <p>{{ good.price }} руб</p>
        {% for tag in good.tag.all %}
            {{ tag }}
        {% endfor %}
{#        <p><a class="btn btn-default" href="#" role="button" data-id="{{ good.pk }}">В корзину</a></p>#}
        <form action="{% url 'shop:cart' %}">
            <input type="button" value="add to cart" n>
        </form>
    </div>
{% endfor %}