{% extends 'shop/main.html' %}

{% block goods %}
    {% if goods %}
        <h2>Категория >{{ category.name }}</h2>
        <div class="tags">
            <p>tags</p>
            {% for tag in tags %}
                <a class="btn btn-default tag" href="#" role="button" id="{{ tag.id }}">{{ tag.name }}</a>
            {% endfor %}
        </div>

        {% include 'shop/include/goods.html' %}

    {% else %}
        <h3>Нет товаров в этой категории</h3>
    {% endif %}
{% endblock %}