{% extends 'shop/main.html' %}

{% block content %}
    <h2>Категории</h2>
    {% for category in categories %}
        <p><a href="{% url 'shop:category_detail' category.id %}">{{ category.name }}</a></p>
    {% endfor %}
{% endblock %}