{% extends 'shop/main.html' %}

{% block content %}
    {% if error %} {{ error }}{% endif %}
    <form action="{% url 'shop:login' %}" method="post">
    {% csrf_token %}
        <label for="">
            email
            <input type="email" name="email">
        </label>
        <label for="">
            password
            <input type="password" name="password">
        </label>
        <input type="submit">
        <input type="reset">
    </form>
{% endblock %}