{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Simple shop</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'shop/css/main.css' %}">
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://localhost:8000/shop/">Simple shop</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

        </div>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <div class="menu">
            <li><a href="{% url 'shop:registration' %}">регистрация</a></li>
            <li><a href="{% url 'shop:login' %}">авторизация</a></li>
            <li><a href="{% url 'shop:category' %}">категории</a></li>
            <li><a href="{% url 'shop:cart' %}">корзина</a></li>
        </div>
    </div>
</div>

<div class="container">
    {% if user.is_authenticated %}
        Привет, {{ user.email }}
        <a href="{% url 'shop:logout' %}">выйти</a>
    {% endif %}

    {% block content %}{% endblock %}

    <div class="row">
        {% block goods %}{% endblock %}
    </div>

    <hr>

    <footer>
        <p>© 2016 Company, Inc.</p>
    </footer>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'shop/js/main.js' %}"></script>
</body>
<autoscroll></autoscroll>
</html>