{% extends 'shop/main.html' %}
<h2>Sign up</h2>
{% if user.is_authenticated %}
    Привет, {{ user.email }}
{% else %}
    {% block content %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign up</button>
        </form>
    {% endblock %}
{% endif %}
